{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="container mt-5" style="max-width: 450px;">
    <h1 class="text-center mb-4">Connexion</h1>

    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <form method="post">

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <div class="mb-3">
        <label>Email</label>
        <input type="email" name="email" class="form-control"
               value="{{ last_username }}">
    </div>

    <div class="mb-3">
        <label>Mot de passe</label>
        <input type="password" name="password" class="form-control">
    </div>

    <button class="btn btn-primary w-100">Se connecter</button>
</form>
    
</div>
{% endblock %}
