<form method="post" action="{{ path('app_galerie_delete', {id: galerie.id}) }}" onsubmit="return confirm('Supprimer cette galerie ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ galerie.id) }}">
    <button class="btn btn-danger btn-sm mt-2">Supprimer</button>
</form>
